<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">
                                <i class="bx bxs-dashboard"></i> Kit Prepration
                            </h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a href="">Central Lab</a>
                                    </li>
                                    <li class="breadcrumb-item active">Kit Prepration</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="preparationForm">
                            <div class="row">

                                <div class="col-md-4 mb-3">


                                    <label for="formrow-firstname-input" class="form-label">Protocol ID</label>
                                    <select formControlName="protocolId" (change)="getprotocolDetails($event)"
                                        class="form-select form-control">
                                        <option *ngFor="let data of protocols" [value]="data.id">
                                            {{ data.protocol_id }}
                                        </option>
                                    </select>
                                </div>

                                <div *ngIf="displayValues" class="col-md-4 mb-3">

                                    <label for="formrow-firstname-input" class="form-label">Protocol Name</label>
                                    <input type="text" placeholder="Protocol Name" formControlName="protocol_name"
                                        class="form-control" value="" />
                                </div>

                            </div>
                        </form>


                        <hr class="mt-4 mb-4" />

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <h4 class="r-blue-text">Kit Details</h4>
                            </div>
                            <div class="col-md-12 mb-3">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" (click)="showsc()" data-bs-toggle="tab"
                                            href="#screening" role="tab">
                                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                            <span class="d-none d-sm-block">Screening</span>
                                        </a>
                                    </li>
                                    <li *ngFor="let item of listItems let j = index" class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" (click)="showv()" href="#visit"
                                            role="tab">
                                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                            <span class="d-none d-sm-block">Visit {{j+1}}</span>
                                        </a>

                                    </li>

                                </ul>

                                <div *ngIf="displayValues" class="tab-content pt-3 text-muted">
                                    <div class="tab-pane active" *ngIf="screening" id="screening" role="tabpanel">
                                        <h5 class="mb-sm-0 font-size-18">
                                            screen Kit Count : {{scount}}
                                        </h5>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-3 mt-2 mb-3">
                                                <h6 style="color: black"> <b>&nbsp;&nbsp;Selected Lab Tests</b> </h6>
                                            
                                                <h6 style="color: black"
                                                    *ngFor="let item of screenDetails  let k = index">
                                                    &nbsp;&nbsp;{{k+1}}.&nbsp;&nbsp;{{ item }}</h6>
                                            </div>
                                        </div>
                                        <br>


                                        <h5 class="mb-sm-0 font-size-18">
                                            Materials
                                        </h5>
                                        <hr />
                                        <div class="row card-group">
                                            <div class="col-md-3 mb-3" *ngFor="let item of sMatDetails">
                                                <p-card [styleClass]="'custom-card'"  [style]="{width: '200px', height:'300px'}"
                                                    styleClass="p-card-shadow">
                                                    <ng-template pTemplate="header">
                                                        <img style="width:198px" src="{{item.image}}" />
                                                    </ng-template>
                                                    {{item.meterial_id}} <br>
                                                    size: {{item.size}}<br>
                                                    Qunatity: {{item.quantity}}<br>

                                                </p-card>
                                            </div>
                                        </div>

                                        <br>
                                        <div class="row">

                                            <div class="col-md-12 mb-3" align="right">
                                                <div class="mb-2 text-right" width="100%">
                                                    <button type="button"
                                                        class="btn btn-warning waves-effect btn-label waves-light r-darkblue pull-Right"
                                                        (click)="onScreenKitAdd()">
                                                        <i class="bx bx-plus label-icon"></i> Add Kit
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="table-responsive" [formGroup]="ScreenKitForm">
                                            <table class="table table-striped mb-0" formArrayName="screenKitList">
                                                <thead Style="background:#EEE">
                                                    <tr>
                                                        <th>KitId</th>
                                                        <th>Lab KitId</th>
                                                        <th>Prepration</th>

                                                        <th>Print Label</th>

                                                    </tr>
                                                </thead>

                                                <tbody>

                                                    <tr [formGroupName]="i" *ngFor="
                                let item of ScreenKitForm.get('screenKitList')
                                  .controls;
                                let i = index
                              ">
                                                        <td width="25%">
                                                            <input type="text" placeholder="kitId"
                                                                formControlName="kitId" class="form-control" value="" />
                                                        </td>
                                                        <td width="25%">
                                                            <input type="text" placeholder="LabKitId"
                                                                formControlName="ckitId" class="form-control"
                                                                value="" />
                                                        </td>

                                                        <td width="25%">
                                                            <select formControlName="prepration"
                                                                class="form-select form-control">
                                                                <option *ngFor="let data of preprationData">
                                                                    {{ data }}
                                                                </option>
                                                            </select>
                                                        </td>

                                                        <td width="20%">
                                                            <button type="button"
                                                                class="btn btn-primary  r-darkblue pull-Right">
                                                                Print
                                                            </button>
                                                        </td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="displayValues" class="tab-content pt-3 text-muted">
                                    <div class="tab-pane active" *ngIf="visit" id="visit" role="tabpanel">
                                        <h5 class="mb-sm-0 font-size-18">
                                            Visit Kit Count : {{vcount}}
                                        </h5>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-3 mt-2 mb-3">
                                                <h6 style="color: black"> <b>&nbsp;&nbsp;Selected Lab Tests</b> </h6>
                                            
                                                <h6 style="color: black"
                                                    *ngFor="let item of visitDetails  let k = index">
                                                    &nbsp;&nbsp;{{k+1}}.&nbsp;&nbsp;{{ item }}</h6>
                                            </div>

                                            <h5 class="mb-sm-0 font-size-18">
                                                Materials
                                            </h5>
                                            <hr />
                                            <h5 class="mb-sm-0 font-size-18">
                                                Materials
                                            </h5>
                                            <hr />
                                            <div class="row card-group">
                                                <div class="col-md-3 mb-3" *ngFor="let item of vMatDetails">
                                                    <p-card  [style]="{width: '200px', height:'300px'}"
                                                        styleClass="p-card-shadow">
                                                        <ng-template pTemplate="header">
                                                            <img style="width:200px" src="{{item.image}}" />
                                                        </ng-template>
                                                        {{item.meterial_id}} <br>
                                                        size: {{item.size}}<br>
                                                        Qunatity: {{item.quantity}}<br>
    
                                                    </p-card>
                                                </div>
                                            </div>
                                          

                                        </div>

                                        <br>
                                        <br>
                                        <div class="row">

                                            <div class="col-md-12 mb-3" align="right">
                                                <div class="mb-2 text-right" width="100%">
                                                    <button type="button"
                                                        class="btn btn-warning waves-effect btn-label waves-light r-darkblue pull-Right"
                                                        (click)="onVisitKitAdd()">
                                                        <i class="bx bx-plus label-icon"></i> Add Kit
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="table-responsive" [formGroup]="VisitKitForm">
                                            <table class="table table-striped mb-0" formArrayName="visitKitList">
                                                <thead Style="background:#EEE">
                                                    <tr>
                                                        <th>KitId</th>
                                                        <th>Lab KitId</th>
                                                        <th>Prepration</th>

                                                        <th>Print Label</th>

                                                    </tr>
                                                </thead>

                                                <tbody>

                                                    <tr [formGroupName]="i" *ngFor="
                                let item of VisitKitForm.get('visitKitList')
                                  .controls;
                                let i = index
                              ">
                                                        <td width="25%">
                                                            <input type="text" placeholder="kitId"
                                                                formControlName="kitId" class="form-control" value="" />
                                                        </td>
                                                        <td width="25%">
                                                            <input type="text" placeholder="Lab KitId"
                                                                formControlName="ckitId" class="form-control"
                                                                value="" />
                                                        </td>

                                                        <td width="25%">
                                                            <select formControlName="prepration"
                                                                class="form-select form-control">
                                                                <option *ngFor="let data of preprationData">
                                                                    {{ data }}
                                                                </option>
                                                            </select>
                                                        </td>

                                                        <td width="20%">
                                                            <button type="button"
                                                                class="btn btn-primary  r-darkblue pull-Right">
                                                                Print
                                                            </button>
                                                        </td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mb-3" align="right">
                            <div class="mb-2 text-right" width="100%">
                                <button type="button"
                                    class="btn btn-warning waves-effect btn-label waves-light r-blue pull-Right"
                                    style="width: 150px; height: 40px" (click)="SubmitData()">
                                    <i class="bx bx-hdd label-icon"></i> Submit
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">© Roboxa</div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
</div>

<!-- END layout-wrapper -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>