<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18"><i class="bx bxs-user-check"></i>Dashboards</h4>
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"> <a routerLink="'/home/cro/dashboards'" class="waves-effect">Dashboard</a>
                <!-- <li class="breadcrumb-item"><a href="subjects.html">CRO</a></li> -->
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->


      <div *ngIf="disablefields">

        <h4 class="mb-sm-0 font-size-18" style="margin-left: 25px;">CRO</h4>
        <hr>

        <div class="row">

          <div class="col-md-2" style="margin-left: 20px;">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 34%;" style="text-align: center;">Protocols</h5>
                <h6 style="margin-left: 41%;" style="text-align: center;">6</h6>
              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 34%;" style="text-align: center;">Sites</h5>
                <h6 style="margin-left: 41%;" style="text-align: center;">6</h6>


              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 34%;" style="text-align: center;">Sponsors</h5>
                <h6 style="margin-left: 41%;" style="text-align: center;">6</h6>


              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 34%;" style="text-align: center;">Lab Tests</h5>
                <h6 style="margin-left: 41%;" style="text-align: center;">6</h6>


              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 34%;" style="text-align: center;">Materials</h5>
                <h6 style="margin-left: 41%;" style="text-align: center;">6</h6>


              </p-card>
            </div>
          </div>
        </div>

      </div>



      <!-- ----============= Central Lab =================------------- -->

      <br *ngIf="disablefields">
      <div *ngIf="enableFields">
        <h4 class="mb-sm-0 font-size-18" style="margin-left: 25px;">Central Lab</h4>
        <hr>
        <div class="row">
          <div class="col-md-2" style="margin-left: 20px;">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 54%;" style="text-align: center;">No.of Kits</h5>
                <h6 style="margin-left: 71%;" style="text-align: center;">30</h6>


              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card class="row">
                <h5 style="margin-left: 34%;" style="text-align: center;">No.of Patients</h5>
                <h6 style="margin-left: 41%;">25</h6>
              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 34%;" style="text-align: center;">Prepared Kits</h5>
                <h6 style="margin-left: 41%;">9</h6>


              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 34%;" style="text-align: center;">Verified Kits</h5>
                <h6 style="margin-left: 41%;">15</h6>


              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 34%;" style="text-align: center;">InProgress kits</h5>
                <h6 style="margin-left: 41%;">10</h6>


              </p-card>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 10px;">
          <div class="col-md-2" style="padding: 10px;" style="margin-left: 20px;">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 24%;" style="text-align: center;">Not Verified kits</h5>
                <h6 style="margin-left: 41%;">8</h6>


              </p-card>
            </div>
          </div>
          <div class="col-md-2" style="padding-left: 10px;">
            <div class="form-group">
              <p-card class="row">
                <h5 style="margin-left: 34%;" style="text-align: center;">Number of Protocols</h5>
                <h6 style="margin-left: 41%;">6</h6>


              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 34%;" style="text-align: center;">Collections Pending</h5>
                <h6 style="margin-left: 41%;">15</h6>


              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 34%;" style="text-align: center;">Collections Received</h5>
                <h6 style="margin-left: 41%;">15</h6>


              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 34%;" style="text-align: center;">Number of Sites</h5>
                <h6 style="margin-left: 41%;">15</h6>


              </p-card>
            </div>
          </div>
        </div>
      </div>



      <!-- ---------------==============  CRA =============-------------------- -->
      <!-- ---------------==============  CRA =============-------------------- -->

      <br *ngIf="disablefields">


      <div *ngIf="disappearfields">
        <h4 class="mb-sm-0 font-size-18" style="margin-left: 25px;">CRA</h4>
        <div class="row">
          <div class="col-md-2" style="margin-left: 20px;">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 54%;" style="text-align: center;">No.of Protocols </h5>
                <h6 style="margin-left: 71%;" style="text-align: center;">30</h6>
              </p-card>
            </div>
          </div>
          <!-- <div class="row"> -->
          <div class="col-md-2">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 54%;" style="text-align: center;"> Received Collections </h5>
                <h6 style="margin-left: 71%;" style="text-align: center;">30</h6>
              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 54%;" style="text-align: center;">Pending Collections </h5>
                <h6 style="margin-left: 71%;" style="text-align: center;">30</h6>
              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 54%;" style="text-align: center;">Number of Kits</h5>
                <h6 style="margin-left: 71%;" style="text-align: center;">30</h6>
              </p-card>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <p-card class="row">
                <h5 style="margin-left: 34%;" style="text-align: center;">Number of Patients</h5>
                <h6 style="margin-left: 41%;">25</h6>
              </p-card>
            </div>
          </div>
          <div class="col-md-2" style="margin-left: 20px;">
            <div class="form-group" style="padding-top: 10px;">
              <p-card>
                <h5 style="margin-left: 34%;" style="text-align: center;">No.of Sites</h5>
                <h6 style="margin-left: 41%;">15</h6>


              </p-card>
            </div>
          </div>
        </div>
      </div>
      <!-- <br>
      <br>
      <br> -->

      <br *ngIf="disablefields">
      <div *ngIf="appearfields">
        <!-- <h4 class="mb-sm-0 font-size-18" style="margin-left: 25px;" style>Sponsers</h4>
        <hr> -->

        <h4 class="mb-sm-0 font-size-18" style="margin-left: 25px;">Sponsers</h4>
        <hr>

        <div class="row">
          <div class="col-md-2" style="margin-left: 20px;">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 54%;" style="text-align: center;">No.of Sponsers</h5>
                <h6 style="margin-left: 71%;" style="text-align: center;">30</h6>
              </p-card>
            </div>
          </div>
          <div class="col-md-2" style="margin-left: 20px;">
            <div class="form-group">
              <p-card>
                <h5 style="margin-left: 54%;" style="text-align: center;">No.of Protocols</h5>
                <h6 style="margin-left: 71%;" style="text-align: center;">28</h6>
              </p-card>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-4" style="margin-left: 20px;">
          <div class="form-group">
            <p-chart type="doughnut" [data]="dataCro" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4" style="margin-left: 20px;">
            <div class="form-group">
              <p-chart type="doughnut" [data]="dataCra" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
            </div>
          </div>
          <div class="row">

            <div class="col-md-4" style="margin-left: 20px;">
              <div class="form-group">
                <p-chart type="doughnut" [data]="dataSponsor" [options]="chartOptions"
                  [style]="{'width': '40%'}"></p-chart>
              </div>
            </div>

            <div class="col-md-4" style="margin-left: 20px;">
              <div class="form-group">
                <p-chart type="doughnut" [data]="dataCentralLabs" [options]="chartOptions"
                  [style]="{'width': '40%'}"></p-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>