<div class="main-content">

    <div class="page-content">
      <div class="container-fluid">
  
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0 font-size-18"><i class="bx bxs-user-check"></i> Site</h4>
  
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="subjects.html">Site</a></li>
                  <!-- <li class="breadcrumb-item active">Add CRO</li> -->
                </ol>
              </div>
  
            </div>
          </div>
        </div>
        <!-- end page title -->
  
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="pull-Right mb-2 text-right" width="100%">
                  <button type="button" (click)="siteCreate()" class="btn btn-warning waves-effect btn-label waves-light r-red pull-Right"
                    data-bs-toggle="modal" data-bs-target=".transaction-detailModal"><i class="bx bx-plus label-icon"></i>
                    Add Site</button>
                </div>
                <hr width="100%" class="mb-4">
                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                    
                    <div class="col-sm-12 col-md-6">
                      <div id="datatable_filter" class="dataTables_filter"><label>Search:<input type="search"
                            class="form-control form-control-sm"[(ngModel)]="searchText"
                            placeholder="Search " (keyup)="applyFilter(searchText)" /></label></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <table id="datatable"
                        class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline" role="grid"
                        aria-describedby="datatable_info" style="width: 1182px;">
                        <thead>
                          <tr role="row" >
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                              style="width: 243.2px;" aria-sort="ascending"
                              aria-label="Code: activate to sort column descending">Code</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                              style="width: 335.2px;" aria-label="Name: activate to sort column ascending">Name</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                              style="width: 282.2px;" aria-label="Email: activate to sort column ascending">
                              Email</th>
                            <th width="40" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                              style="width: 150.2px;" aria-label="Actions: activate to sort column ascending">Actions</th>
                          </tr>
                        </thead>
  
  
                        <tbody>
                          
                            <tr class="odd"
                            *ngFor="let siteData of siteDetails  | paginate: { id: 'sitePagination', itemsPerPage: pageSize, currentPage: page, totalItems: totalCount }; let i=index">

                            <td class="sorting_1 dtr-control">{{siteData.site_data_code}}</td>
                           
                            <td>{{siteData.site_data_name}}</td>
                            <td>{{siteData.email}}</td>
                            <td>
                              <button type="button" (click)="edit(siteData.site_id)" class="btn btn-success waves-effect edit-btn waves-light">
                                <i class="bx bx-edit-alt font-size-16 align-middle me-2"></i>
                                Edit
                              </button>
                            </td>
                          </tr>
                       
                        </tbody>
                      </table>
                      <pagination-controls id="sitePagination" (pageChange)="pageChange($event)"
                      *ngIf="siteDetails && siteDetails.length"></pagination-controls>
                  </div>
                    </div>
                  </div>
                 
                </div>
  
  
  
  
  
  
  
  
  
              </div>
            </div>
          </div>
  
          <!-- end col -->
        </div> <!-- end row -->
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
  
  
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <script>document.write(new Date().getFullYear())</script>2023 © Roboxa
          </div>
        </div>
      </div>
    </footer>
  </div>
  