<h4> <i class="fa fa-light fa-hospital mr-2"></i>Sample Collection</h4>
<div class="card ml-2 mr-2 bg-white">
    <div class="container">

        <div class="card-body">
            <h6 style="color: rgb(250, 49, 49);">Protocol Details</h6>
            <hr>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Choose Protocol Id</label>
                    <select [(ngModel)]="selectedOption" class="form-control" placeholder="Select an option">
                        <option value="Select an option"></option>
                        <option *ngFor="let protocol of protocols" [value]="protocol_id">{{ protocol_id }}</option>
                    </select>



                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="card-body">
            <h6 style="color: rgb(250, 49, 49);">Sample Collection</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>SiteId/Name</th>
                            <th>Screen Type</th>
                            <th>Patient ID</th>
                            <th>Lab Test</th>
                            <th>Material</th>
                            <th>KitId</th>
                            <th>Ckit ID</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Data 1</td>
                            <td>
                                <input type="radio" name="ok" id="" value="IN Site audit">
                                <label style="margin-right: 20px;">Screen</label>
                                <input type="radio" name="ok" id="" value="Evaluation by Documentation">
                                <label style="margin-right: 30px;">Visit</label>
                            </td>
                            <td>Data 3</td>
                       
                       
                            <td>Data 4</td>
                            <td>Data 5</td>
                            <td>Data 6</td>
                            <td>Data 7</td>
                            <td>Data 8</td>
                        </tr>
                        <tr>
                            <td>Data 1</td>
                            <td>
                                <input type="radio" name="k" id="" value="IN Site audit">
                                <label style="margin-right: 20px;">Screen</label>
                                <input type="radio" name="k" id="" value="Evaluation by Documentation">
                                <label style="margin-right: 30px;">Visit</label>
                            </td>
                            <td>Data 3</td>
                       
                       
                            <td>Data 4</td>
                            <td>Data 5</td>
                            <td>Data 6</td>
                            <td>Data 7</td>
                            <td>Data 8</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
         </div>
        </div>
        <div class="container">

            <div class="card-body">
                <h6 style="color: rgb(250, 49, 49);"></h6>
                <hr>
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Sponsor Code"placeholder="Created By">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group"> <input type="text" class="form-control" id="Site Name" placeholder="Created On">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="field3" placeholder="Changed By" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" id="field3" placeholder="Changed On" >
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    
        </div>
</div>
