<div class="main-content">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18"><i class="bx bxs-user-check"></i> Lab Test</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"> <a routerLink="/home/cro/dashboards" class="waves-effect">Dashboard</a>
                <li class="breadcrumb-item"><a >Lab Test</a></li>
                <!-- <li class="breadcrumb-item active">Add CRO</li> -->
              </ol>
            </div>

          </div>
        </div>
      </div>
      <!-- end page title -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" (click)="showLab()" role="tab">
            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
            <span class="d-none d-sm-block">Lab Test</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" (click)="showMat()" role="tab">
            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
            <span class="d-none d-sm-block">Material</span>
          </a>
        </li>
      </ul>
      <p-toast></p-toast>

      <div *ngIf="material">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-9"></div>
                  <div class="col-md-2">
                    <div class="pull-Right mb-2 text-right" width="100%">
                      <button type="button" (click)="materialCreate()"
                        class="btn btn-warning waves-effect btn-label waves-light r-red pull-Right"
                        data-bs-toggle="modal" data-bs-target=".transaction-detailModal"><i
                          class="bx bx-plus label-icon"></i>
                        Add Material</button>
                    </div>
                  </div>
                </div>

                <hr width="100%" class="mb-4">
                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                  <div class="row">


                    <div class="col-sm-12 col-md-6">

                      <div class="col-sm-12 col-md-6">
                        <div id="datatable_filter" class="dataTables_filter"><label>Search:
                            <input autocomplete="off" type="text" class="form-control" [(ngModel)]="searchText"
                              placeholder="Search " (keyup)="applyFilter(searchText)" />
                          </label></div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <table id="datatable"
                          class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline"
                          role="grid" aria-describedby="datatable_info" style="width: 1182px;">
                          <thead>
                            <tr role="row">

                              <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                style="width: 335.2px;" aria-label="Material: activate to sort column ascending">
                                Material
                              </th>
                              <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                style="width: 282.2px;" aria-label="Size: activate to sort column ascending">
                                Size</th>
                              <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"
                                style="width: 282.2px;" aria-label="Image: activate to sort column ascending">
                                Image</th>
                              <th width="40" class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                colspan="1" style="width: 150.2px;"
                                aria-label="Actions: activate to sort column ascending">Actions</th>
                            </tr>
                          </thead>


                          <tbody>
                            <tr class="odd"
                              *ngFor="let labData of materials  | paginate: { id: 'LabDetailsPagination', itemsPerPage: pageSize, currentPage: page, totalItems: totalCountmaterial }; let i=index">
                              <!-- <td class="sorting_1 dtr-control">{{labData.lab_test}}</td> -->
                              <td>{{labData.name}}</td>
                              <td>{{labData.size}}</td>
                              <td>
                                <img style="width:50px" src="{{'data:image/jpg;base64,' + labData.image}}" />
                              </td>
                              <td>
                                <button type="button" (click)="edit(labData.meterial_id, 'edit')"
                                  class="btn btn-success waves-effect edit-btn waves-light">
                                  <i class="bx bx-edit-alt font-size-16 align-middle me-2"></i>
                                  Edit
                                </button>&nbsp;
                                <button type="button" (click)="edit(labData.meterial_id, 'view')"
                                class="btn btn-success waves-effect edit-btn waves-light">
                              
                                View
                              </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <pagination-controls id="LabDetailsPagination" (pageChange)="pageChange($event)"
                      *ngIf="LabDetails && LabDetails.length"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>

            <!-- end col -->
          </div> <!-- end row -->
        </div>
      </div>
      <div *ngIf="lab">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-9"></div>
                  <div class="col-md-2" *ngIf="disableAdd">
                    <div class="pull-Right mb-2 text-right" width="100%">
                      <button type="button" (click)="labCreate()"
                        class="btn btn-warning waves-effect btn-label waves-light r-red pull-Right"
                        data-bs-toggle="modal" data-bs-target=".transaction-detailModal"><i
                          class="bx bx-plus label-icon"></i>
                        Add Lab Test</button>
                    </div>
                  </div>
                </div>
                <div class="card ml-2 mr-2 bg-white">
                  <div class="container">

                    <div class="card-body" *ngIf="labFormval">
                      <h6 style="color: rgb(250, 39, 39);">LabTest Form</h6>
                      <hr>
                      <form [formGroup]="labForm">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">

                              <input type="text" class="form-control" formControlName="lab_test" id="lab test"
                                placeholder="Enter Lab Test">

                            </div>
                          </div>
                          <div class="col-md-5">
                            <button (click)="submit()" class="btn btn-primary">Submit</button>

                          </div>
                        </div>
                      </form>
                    </div>





                    <hr width="100%" class="mb-4">
                    <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                      <div class="row">


                        <div class="col-sm-12 col-md-6">

                          <div class="col-sm-12 col-md-6">
                            <div id="datatable_filter" class="dataTables_filter"><label>Search:
                                <input autocomplete="off" type="text" class="form-control" [(ngModel)]="searchText"
                                  placeholder="Search " (keyup)="applyFilter(searchText)" />
                              </label></div>
                          </div>
                        </div>

                        <div class="row">
                          <!-- <div class="col-sm-3"></div> -->
                          <div class="col-sm-12">
                            <table id="datatable"
                              class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline"
                              role="grid" aria-describedby="datatable_info" style="width: 1182px;">
                              <thead>
                                <tr role="row">
                                  <th width="30%">Lab Test Id</th>
                                  <th width="40%" class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1"
                                    colspan="1" style="width: 243.2px;" aria-sort="ascending"
                                    aria-label="Lab Test: activate to sort column descending">Lab Test</th>
                                  <th width="20%">Delete</th>

                                </tr>

                              </thead>


                              <tbody>

                                <tr class="odd"
                                  *ngFor="let labData of LabDetails  | paginate: { id: 'LabDetailsPagination', itemsPerPage: pageSize, currentPage: page, totalItems: totalCount }; let i=index">
                                  <!-- <td>
                              {{i+1}}
                              
                             </td> -->
                                  <td class="sorting_1 dtr-control">{{i+1}}</td>
                                  <td class="sorting_1 dtr-control">{{labData.name}}</td>
                                  <td>
                                    <button type="button" (click)="deletelab(labData.lab_id)"
                                      class="btn btn-danger ml-3 mt-2">Delete</button>

                                  </td>


                                </tr>
                              </tbody>
                            </table>
                            <pagination-controls id="LabDetailsPagination" (pageChange)="pageChange($event)"
                              *ngIf="LabDetails && LabDetails.length"></pagination-controls>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <footer class="footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <script>document.write(new Date().getFullYear())</script>2023 © Roboxa
                </div>
              </div>
            </div>
          </footer>
        </div>