::ng-deep .p-chips > ul.p-inputtext .p-chips-token {
    font-size: 14px;
    background: green !important; /* 👈 I have use important */
    border:1px solid #005555;
    box-shadow: 0 0 25px #ccc;
    width: 200%
}

::ng-deep .p-chips .p-chips-multiple-container {
    padding: 0.25rem 0.5rem; 
    width: 200%
  }
  ::ng-deep  .p-chips .p-chips-multiple-container:not(.p-disabled):hover {
    border-color: #673AB7;
    width: 200%
  }
  ::ng-deep  .p-chips .p-chips-multiple-container:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #c1ade5;
    border-color: #673AB7;
    width: 200%
  }
  ::ng-deep  .p-chips .p-chips-multiple-container .p-chips-token {
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    background: #673AB7;
    color: #ffffff;
    border-radius: 4px;
    width: 200%
  }
  ::ng-deep  .p-chips .p-chips-multiple-container .p-chips-token .p-chips-token-icon {
    margin-left: 0.5rem;
    width: 200%
  }
  ::ng-deep  .p-chips .p-chips-multiple-container .p-chips-input-token {
    padding: 0.25rem 0;
    width: 200%
  }
  ::ng-deep  .p-chips .p-chips-multiple-container .p-chips-input-token input {
    font-family: "cabin", sans-serif;
    font-size: 1rem;
    color: #495057;
    padding: 0;
    margin: 0;
    width: 200%
  }
  
  ::ng-deep  p-chips.ng-dirty.ng-invalid > .p-chips > .p-inputtext {
    border-color: #f44336;
    width: 200%

  }
  
  ::ng-deep  p-chips.p-chips-clearable .p-inputtext {
    padding-right: 1.5rem;
    width: 200%
  }
  ::ng-deep  p-chips.p-chips-clearable .p-chips-clear-icon {
    color: #6c757d;
    right: 0.5rem;
    width: 200%
  }