body {
	/* background-image: url("../images/login_bg.jpg"); */
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 100%;
  width:100%
}
.form-group {
	margin-bottom: 20px;
  }
  .password-label {
    position: relative;
}

.eye-button {
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 10px;
	height: 20pt;
}
  label {
	display: block;
  } 
  
   input[type="text"],
  input[type="password"],
  input[type="otp"] {
	width: 100%;
	padding: 5px;
	font-size: 13px;
  } 

  .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	max-width: 100%;
	background-image: url('/assets/images/login_bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
  
  .login-card {
	background-color: #ffffff;
	padding: 20px;
	width: 450px;
	margin-top:10px;
	margin-left: 30px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	
  }

