<div class="main-content" style="margin-top: -4%;">

  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div style="padding:1px" *ngIf="!view" class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 *ngIf="!isEdit" class="mb-sm-0 font-size-18"><i class="bx bxs-user-check"></i>Add CRO</h4>
            <h4 *ngIf="isEdit" class="mb-sm-0 font-size-18"><i class="bx bxs-user-check"></i>Edit CRO</h4>
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"> <a routerLink="/home/cro/dashboards" class="waves-effect">Dashboard</a></li>
                <li class="breadcrumb-item"><a routerLink="/home/admin/croGrid" class="waves-effect">CRO</a></li>
                <li *ngIf="!isEdit" class="breadcrumb-item active">Add CRO</li>
                <li *ngIf="isEdit" class="breadcrumb-item active">Edit CRO</li>
              </ol>
            </div>
          </div>
          <div style="padding:1px" *ngIf="view" class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4  class="mb-sm-0 font-size-18"><i class="bx bxs-user-check"></i>View CRO</h4>
          
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"> <a routerLink="/home/cro/dashboards" class="waves-effect">Dashboard</a></li>
                <li class="breadcrumb-item"><a routerLink="/home/admin/croGrid" class="waves-effect">CRO</a></li>
                <li class="breadcrumb-item active">View CRO</li>
                
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- <h4><i class="fab fa-codiepie cro-icon mr-sm-2"></i>CRO Data</h4>/ -->
      <br>
      <p-toast></p-toast>
      <form [formGroup]="CroForm">
        <div class="card ml-2 mr-2 bg-white">
          <div class="container">

            <div class="card-body">
              <h6 style="color: rgb(250, 39, 39);">CRO Form</h6>
              <hr>
              <form [formGroup]="CroForm" >
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>CRO Code</label>
                      <input type="text" class="form-control" id="CROCode" placeholder="Enter CRO Code"
                        formControlName="cro_code"
                        [class.is-invalid]="shouldShowRequired('cro_code') && CroForm.get('cro_code')?.touched">

                      <div *ngIf="shouldShowRequired('cro_code')" class="invalid-feedback">
                        CRO Code is required.
                      </div>
                      <div *ngIf="shouldShowLengthError('cro_code')" class="invalid-feedback">
                        CRO Code should contain between 5 and 15 characters.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>CRO Name</label>
                      <input type="text" class="form-control" id="CROName" placeholder="Enter CRO Name"
                        formControlName="cro_name"
                        [class.is-invalid]="shouldShowRequired('cro_name') && CroForm.get('cro_name')?.touched">
                      <div *ngIf="shouldShowRequired('cro_name')" class="invalid-feedback">
                        CRO Name is required.
                      </div>
                      <div *ngIf="shouldShowLengthError('cro_name')" class="invalid-feedback">
                        CRO Name should contain between 5 and 15 characters.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Legal CRO Name</label>
                      <input type="text" class="form-control" id="LegalCROName" placeholder="Enter legal CRO name"
                        formControlName="legal_cro_name"
                        [class.is-invalid]="shouldShowRequired('legal_cro_name') && CroForm.get('legal_cro_name')?.touched">
                      <div *ngIf="shouldShowRequired('legal_cro_name')" class="invalid-feedback">
                        Legal CRO Name is required.
                      </div>
                      <div *ngIf="shouldShowLengthError('legal_cro_name')" class="invalid-feedback">
                        Legal CRO Name should contain between 5 and 15 characters.
                      </div>
                    </div>
                  </div>
                </div>

              </form>
            </div>

          </div>
  
          <div class="container">
            <div class="card-body">
              <h6 style="color: rgb(250, 49, 49);">Address</h6>
              <hr>
              <form [formGroup]="CroForm">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Address 1</label>
                      <input type="text" class="form-control" id="Address 1" placeholder="Enter Address 1"
                        formControlName="address_1"
                        [class.is-invalid]="shouldShowRequired('address_1') && CroForm.get('address_1')?.touched">
                      <div *ngIf="shouldShowRequired('address_1')" class="invalid-feedback">
                        Adress is required.
                      </div>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Address 2</label>
                      <input type="text" class="form-control" id="Address" placeholder="Enter Address 2(optional)"
                        formControlName="address_2">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Country</label>
                      <select  formControlName="country" class="form-select" aria-label="Default select example">
                        <option  selected value="">Select Country</option>
                        <option *ngFor="let option of myData" [value]="option.value">{{ option.text }}</option>
                      </select >
                    
                      <div *ngIf="shouldShowRequired('country')" class="invalid-feedback">
                        Country is required.     
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
               
                 
                 
                  
                </div>
                <br>
                <div class="row">
                  
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Region/State</label>
                      <input type="text" class="form-control" id="Region" placeholder="Enter Region/ State"
                        formControlName="region"
                        [class.is-invalid]="shouldShowRequired('region') && CroForm.get('region')?.touched">
                      <div *ngIf="shouldShowRequired('region')" class="invalid-feedback">
                        Region is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>District</label>
                      <input type="text" class="form-control" id="District" placeholder="Enter District"
                        formControlName="district"
                      >
                  
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>City</label>
                      <input type=" text" class="form-control" id="City" placeholder="Enter City" formControlName="city"
                        [class.is-invalid]="shouldShowRequired('city') && CroForm.get('city')?.touched">
                      <div *ngIf="shouldShowRequired('city')" class="invalid-feedback">
                        City is required.
                      </div>
                    </div>
                  </div>
               </div>
               <br>
               <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Zip Code</label>
                      <input type="text" class="form-control" id="Zip Code" placeholder="Enter Zip Code"
                        formControlName="zip_code"
                        [class.is-invalid]="shouldShowRequired('zip_code') && CroForm.get('zip_code')?.touched">
                      <div *ngIf="shouldShowRequired('zip_code')" class="invalid-feedback" >
                        Zipcode is required.
                      </div>
                     
                    </div>
                  </div>
                </div>
                <br>
               

              </form>
            </div>

          </div>
   
          <div class="container">
            <div class="card-body">
              <h6 style="color: rgb(250, 49, 49);">Communication</h6>
              <hr>
              <form [formGroup]="CroForm">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Office Telephone</label>
                      <input type="text" class="form-control" id="Office Telephone" placeholder="Enter Office Telephone"
                        formControlName="office_telephone">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Extension</label>
                      <input type="text" class="form-control" id="Extension" placeholder="Enter Extension"
                        formControlName="extension">
                       
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Mobile Number</label>
                      <input type="number" class="form-control" id="mobile_no" placeholder="Enter Mobile Number"
                        formControlName="mobile_telephone">
                       
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Email Id</label>
                      <input type="text" class="form-control" id="Address 1" placeholder="Enter Email"
                        formControlName="email">
                       
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Website</label>
                      <input type="text" class="form-control" id="Address" placeholder="Enter Website"
                        formControlName="website">
                      
                    </div>
                  </div>
                </div>

              </form>
            </div>
            <div class="col-12 mt-auto mb-2 d-flex justify-content-end">
              <button *ngIf="!view" (click)="submit()" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>