<div id="layout-wrapper">

  <div class="main-content" style="margin-top: -4%;">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div style="padding:1px" class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0 font-size-18"><i class="bx bxs-user-check"></i>Study Registration
              </h4>

              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"> <a routerLink="/home/cro/dashboards" class="waves-effect">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item"><a routerLink="/home/cro/protocolGrid" class="waves-effect">Study</a>
                  </li>
                  <li class="breadcrumb-item active">Add Study Registration</li>

                </ol>
              </div>

            </div>
          </div>
        </div>
        <p-toast></p-toast>

        <form [formGroup]="protocolForm">
          <div class="card">

            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="formrow-firstname-input"  class="form-label">Sponor Study ID</label>
                    <input type="text" 


  formControlName="selected_protocol_id" class="form-control" id=""
                      placeholder="Enter Study ID"
                      [class.is-invalid]="shouldShowRequired('selected_protocol_id') && protocolForm.get('selected_protocol_id')?.touched">

                  </div>

                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="formrow-firstname-input" class="form-label">Study Title</label>
                    <input type="text" 


formControlName="selected_protocol_name" class="form-control" id=""
                      placeholder="Enter Study Title"
                      [class.is-invalid]="shouldShowRequired('selected_protocol_name') && protocolForm.get('selected_protocol_name')?.touched">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="formrow-firstname-input" class="form-label">CRO Study ID</label>
                    <input type="text" 


formControlName="cro_study_id" class="form-control" id=""
                      placeholder="Enter CRO Study ID">

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="formrow-firstname-input" class="form-label">Sponsor ID / Name</label>
                    <select maxlength="100"  formControlName="selected_sponsor_id" class="form-select form-control"
                      [class.is-invalid]="shouldShowRequired('selected_sponsor_id') && protocolForm.get('selected_sponsor_id')?.touched">
                      <option selected value="">Select Sponsor ID</option>
                      <option *ngFor="let sponser of sponsers" [value]="sponser.sponsor_id">
                        {{ sponser.sponsor_code + ' - ' + sponser.sponsor_name }}
                      </option>
                    </select>
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="formrow-firstname-input" class="form-label">Global Sample Size</label>
                    <input type="number" formControlName="global_sample_size" class="form-control" id="" placeholder=" "
                      [class.is-invalid]="shouldShowRequired('global_sample_size') && protocolForm.get('global_sample_size')?.touched">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="formrow-firstname-input" class="form-label">Avant Sante Sample Size</label>
                    (&nbsp;<input class="form-check-input" (change)="avantCheck($event)" formControlName="avantc"
                      type="checkbox" value="checked" id="debugInfo" />
                    &nbsp; <label for="formrow-firstname-input" class="form-label">Same as Global</label>)

                    <input type="number" formControlName="avant_sample_size" (blur)="getsize()" class="form-control"
                      id="" placeholder=" "
                      [class.is-invalid]="shouldShowRequired('avant_sample_size') && protocolForm.get('avant_sample_size')?.touched">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="formrow-firstname-input" class="form-label">Total No.of Visits</label>
                    <input type="text" 


maxlength="5"  formControlName="total_visits"   (input)="ValidateVisits($event.target)"   (blur)="visits($event)" class="form-control"
                      [class.is-invalid]="shouldShowRequired('total_visits') && protocolForm.get('total_visits')?.touched">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="formrow-firstname-input" class="form-label">No.of Screens</label>
                    <input type="text" 


maxlength="5"  formControlName="screens" (input)="ValidateScreening($event.target)" class="form-control" id="" placeholder=" "
                      [class.is-invalid]="shouldShowRequired('screens') && protocolForm.get('screens')?.touched">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="formrow-firstname-input" class="form-label">Screen Kit Count</label>
                    <input type="text" 


maxlength="5"  (input)="ValidateScreening($event.target)" formControlName="selected_skit_count" class="form-control" id="" placeholder=" "
                      [class.is-invalid]="shouldShowRequired('selected_skit_count') && protocolForm.get('selected_skit_count')?.touched">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3">
                    <label for="formrow-firstname-input" class="form-label">Special Instructions</label>
                    <textarea class="form-control" rows="3" cols="5" formControlName="specialInstructions"
                      id="comment"></textarea>


                  </div>
                </div>

              </div>
            </div>

          </div>
        </form>
        <div style="margin-top:-5%">
        <p-tabView>

          <p-tabPanel header="Screening">
            <div class="tab-pane active" *ngIf="screening" id="screening" role="tabpanel">
              <form [formGroup]="protocolForm">
                <div class="row">
                  <div class="col-ml-1 ml-1"></div>
                  <div class="col-md-3 mb-3" style="margin-top: -7px"  [formGroup]="ScreenMaterialKitForm">
                    <label for="formrow-firstname-input" class="form-label">Kit Varient</label>
                    <input type="text" 


 maxlength="5"  class="form-control"  placeholder="Kit Varient" formControlName="kitVarient" value="" />
                    </div>
                  <div class="col-md-3 mb-3">
                    <br>
                    <button type="button" (click)="dialog()" class="btn btn-primary  waves-light r-blue">Select Lab
                      Tests</button>


                  </div>
                  <div class="col-md-2 mb-3" style="margin-left: -11%;">
                    <br>
                    <button style="margin-left: 7%;" type="button" (click)="onMaterialKitAdd()"
                      class="btn btn-primary  waves-light r-blue">Add Material</button>
                  </div>

                  <p-dialog [class.overlay]="display" (onShow)="disableScroll()" (onHide)="enableScroll()"
                    header="Select Lab Tests" [(visible)]="display">
                    <div class="row">
                      <div class="col-md-1 mb-3"></div>
                      <div class="col-md-8 mb-3">
                        <p-multiSelect [options]="matList" styleClass="custom-multiselect" [(ngModel)]="selectedTests"
                          formControlName="labTestValue" optionLabel="name" defaultLabel="Select Lab Tests"
                          [class.is-invalid]="shouldShowRequired('labTestValue') && protocolForm.get('labTestValue')?.touched"></p-multiSelect>
                      </div>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>

                      <div class="col-md-3 mb-3">
                        <button style="margin-left:-27%" type="button" align="right" (click)="labValues()"
                          class="btn btn-primary r-blue">Add Lab Tests</button>
                      </div>
                    </div>
                  </p-dialog>

                  <!-- <div class="col-md-3 mt-2 mb-3"></div> -->
                  <div class="col-md-3 mt-2 mb-3">
                    <h6 style="color: black" *ngIf="testDisplay"> <b>&nbsp;&nbsp;Selected Lab Tests</b> </h6>

                    <h6 style="color: black" *ngFor="let item of multipleTests  let k = index">
                      &nbsp;&nbsp;{{k+1}}.&nbsp;&nbsp;{{ item }}</h6>
                  </div>
                </div>
              </form>

              <div class="row">


                <div class="col-md-8 mb-3"></div>

                <div class="col-md-12 mb-3">

                  <div class="table-responsive" [formGroup]="ScreenMaterialKitForm">
                    <table class="table table-striped mb-0" formArrayName="materialList">
                      <thead Style="background:#EEE">
                        <tr>
                          <th>Material</th>
                          <th>Size</th>
                          <th>Quantity</th>
                          <th>Frozen at Site</th>
                          <th>Image</th>
                          <th>Delete</th>

                        </tr>
                      </thead>

                      <tbody>

                        <tr [formGroupName]="j" *ngFor="
                              let item of ScreenMaterialKitForm.get('materialList')
                                .controls;
                              let j = index
                            ">
                          <th scope="row">
                            <select (change)="onScreenKitChange($event,j)" formControlName="meterial_id"
                              class="form-select form-control">
                              <option selected value="">Select Materials</option>
                              <option *ngFor="let lab of labMatTestsList" [value]="lab.meterial_id">
                                {{ lab.name }}
                              </option>
                            </select>
                          </th>

                          <td>
                            <select formControlName="size" class="form-select form-control">
                              <option selected value="">Select Size</option>
                              <option *ngFor="let lab of getSizes(j)">
                                {{ lab }}
                              </option>
                            </select>

                          </td>
                          <td>
                            <input type="number" formControlName="quantity" class="form-control" value="" />
                          </td>
                          <td>
                            <input class="form-check-input" formControlName="frozen_status" type="checkbox"
                              value="checked" id="debugInfo" />
                          </td>
                          <td>



                            <img formControlName="image" ngDefaultControl class="bx bx-image-alt font-size-24"
                              [src]="ScreenMaterialKitForm.controls.materialList?.controls[j].controls['image'].value"
                              width="30" height="30">
                            <!-- <img [src]="imageURL" [alt]="Image"> -->
                            <!-- <i
                              formControlName="Image"
                              class="bx bx-image-alt font-size-24"
                            ></i> -->
                          </td>
                          <td>
                            <button type="button" (click)="removeMatScreenKit(j)" class="btn btn-danger">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                              </svg>
                            </button>
                            <!-- <i class="bx bx-edit-alt font-size-16 align-middle me-2"></i> -->
                          </td>
                          <!-- <td>
                            <button type="button" (click)="removeMatScreenKit(j)"
                              class="btn btn-danger ml-3 mt-2">Delete</button>
                        
                          </td> -->

                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mt-2 mb-3">

              </div>
              <div class="col-md-3 mb-3">

              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Visits" *ngFor="let card of cards; let i = index" header="Visit {{i+1}}">

            <div class="row">
              <div class="col-md-12 mt-2 mb-3">
                <h5>Visit Kit Details</h5>
              </div>
  
              <div class="col-md-3 mb-3">
                <label for="formrow-firstname-input" class="form-label">Alternate Week Name</label>
                <input type="text" 


 class="form-control"  placeholder="Alternate Week Name" [(ngModel)]="alternatenames[i]" value="" />
                </div>
                <div class="col-md-3 mb-3" [formGroup]="card.form">
                  <label for="formrow-firstname-input" class="form-label">Kit Varient</label>
                  <input type="text" 


 class="form-control"  placeholder="Kit Varient" formControlName="kitVarient" value="" />
                  </div>
              <div class="col-md-3 mb-3">
                <label for="formrow-firstname-input" class="form-label">Kit Count</label>
                <input type="text" 


[(ngModel)]="kitCountval" class="form-control" placeholder="Enter Kit Count" />
              </div>
            
            </div>


            <div class="card">
              <div class="row">
                <div class="col-ml-1 ml-1"></div>
                <div class="col-md-3 mb-3">
                  <button type="button" (click)="dialogv()" class="btn btn-primary  waves-light r-blue">Select Lab
                    Tests</button>
                </div>
               
                <div class="col-md-2 mb-3" align="right" style="margin-left: -11%;">
                  <button type="button" class="btn btn-primary  waves-light r-blue" (click)="addRow1(i)">Add Material
                  </button>
                </div>
                <p-dialog [class.overlay]="displayv" (onShow)="disableScroll()" (onHide)="enableScroll()"
                  header="Select Lab Tests" [(visible)]="displayv">
                  <div class="row">
                    <div class="col-md-1 mb-3"></div>
                    <div class="col-md-8 mb-3">
                      <p-multiSelect [options]="matList" [(ngModel)]="selectedLabTests[i]"
                        defaultLabel="Select Lab Tests" optionLabel="name" optionValue="name"></p-multiSelect>

                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="col-md-3 mb-3">
                      <button style="margin-left:-27%" type="button" align="right" (click)="labValuesv()"
                        class="btn btn-primary r-blue">Add Lab Tests</button>
                    </div>
                  </div>
                </p-dialog>

                <!-- <div class="col-md-3 mt-2 mb-3"></div> -->

              </div>

              <!-- <div class="col-md-3 mt-2 mb-3"></div> -->
              <div class="col-md-3 mt-2 mb-3">
                <h6 style="color: black" *ngIf="testDisplayv"> <b>&nbsp;&nbsp;Selected Lab Tests</b> </h6>
                <h6 style="color: black" *ngFor="let material of selectedLabTests[i]  let k = index">
                  &nbsp;&nbsp;{{k+1}}.&nbsp;&nbsp;{{ material }}</h6>
              </div>
              <div>
              </div>
              <form [formGroup]="card.form">
                
             
                <div formArrayName="visits">
                  <table class="table table-striped mb-0">
                    <thead Style="background:#EEE">
                      <tr>
                        <th>Material</th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th>Frozen at Site</th>
                        <th>Image</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of getRows(i).controls; let j = index" [formGroupName]="j">
                        <th scope="row">
                          <select formControlName="meterial_id" class="form-select form-control"
                            aria-placeholder="Select Test" (change)="onMeterialIdChange($event, i, j)">
                            <option selected value="">Select Materials</option>
                            <option *ngFor="let lab of labMatTestsList" [value]="lab.meterial_id">
                              {{ lab.name }}
                            </option>
                          </select>
                        </th>
                        <td>
                          <select formControlName="size" class="form-select form-control">
                            <option selected value="">Select SiZe</option>
                            <option *ngFor="let size of getSizesv(i, j)" [value]="size">{{ size }}</option>
                          </select>

                        </td>
                        <td>
                          <input type="number" formControlName="quantity" class="form-control" value="" />
                        </td>
                        <td>
                          <input class="form-check-input" formControlName="frozen_status" type="checkbox"
                            value="checked" id="debugInfo" />
                        </td>
                        <td>
                          <img [src]="row.get('image')?.value" width="30" height="30" *ngIf="row.get('image')?.value"
                            alt="Material Image" />
                        </td>
                        <!-- <td>
                          <button type="button" (click)="deleteRow(i, j)"
                            class="btn btn-danger ml-3 mt-2">Delete</button>

                        </td> -->
                        <td>
                          <button type="button" (click)="deleteRow(i, j)" class="btn btn-danger ml-3 mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                            </svg></button>

                        </td>
                    </tbody>
                  </table>

                </div>
              </form>
              <!-- <button (click)="onSubmit()">submit</button> -->
            </div>
            <!-- </p-accordionTab>
              </p-accordion> -->


            <!-- <button type="button" class="btn btn-warning  waves-light r-darkblue pull-Right" (click)="onSubmit()">Submit -->

            <!-- </button> -->

            <br>
          </p-tabPanel>

          <div class="col-md-12 mb-3" align="right">
            <div class="mb-2 text-right" width="100%">
              <button type="button" class="btn btn-warning waves-effect btn-label waves-light r-blue pull-Right"
                style="width: 150px; height: 40px" (click)="SubmitData()">
                <i class="bx bx-hdd label-icon"></i> Submit
              </button>
            </div>
          </div>
        </p-tabView>
      </div>

        <!-- end page title -->

        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

 <footer class="footer" style="position: fixed;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">© Roboxa</div>
      </div>
    </div>
  </footer>

</div>
<!-- end main content-->
<!-- </div> -->
<!-- END layout-wrapper -->



<!-- Tab Content -->


<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>