<!-- Begin page -->
<div id="layout-wrapper">
  <header id="page-topbar">
    <div class="navbar-header">
      <div class="d-flex">
        <!-- LOGO -->
        <div class="navbar-brand-box">
          <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
              <img src="assets/images/logo-icon-dark.png" alt="" height="22" />
            </span>
            <span class="logo-lg">
              <img src="assets/images/roboxa-logo.png" alt="" height="17" />
            </span>
          </a>

          <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
              <img src="assets/images/logo-icon-lite.png" alt="" height="22" />
            </span>
            <span class="logo-lg">
              <img
                src="assets/images/roboxa-logo-lite.png"
                alt=""
                height="35"
              />
            </span>
          </a>
        </div>
        <!-- Button should come here-->
        <!--<button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect"
                        id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button> -->

        <!-- App Search-->
        <form class="app-search d-none d-lg-block">
          <div class="position-relative">
            <input type="text" class="form-control" placeholder="Search..." />
            <span class="bx bx-search-alt"></span>
          </div>
        </form>
      </div>

      <div class="d-flex">
        <div class="dropdown d-inline-block d-lg-none ms-2">
          <button
            type="button"
            class="btn header-item noti-icon waves-effect"
            id="page-header-search-dropdown"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="mdi mdi-magnify"></i>
          </button>
          <div
            class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
            aria-labelledby="page-header-search-dropdown"
          >
            <form class="p-3">
              <div class="form-group m-0">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search ..."
                    aria-label="Recipient's username"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                      <i class="mdi mdi-magnify"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="dropdown d-none d-lg-inline-block ms-1">
          <button
            type="button"
            class="btn header-item noti-icon waves-effect"
            data-bs-toggle="fullscreen"
          >
            <i class="bx bx-fullscreen"></i>
          </button>
        </div>

        <div class="dropdown d-inline-block">
          <button
            type="button"
            class="btn header-item waves-effect"
            id="page-header-user-dropdown"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              class="rounded-circle header-profile-user"
              src="assets/images/profile_img.jpg"
              alt="Header Avatar" width="50" height="50"
            />
            <span class="d-none d-xl-inline-block ms-1" key="t-henry"
              >CRO Admin</span
            >
            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end">
            <!-- item-->
            <a class="dropdown-item text-danger" href="login.html"
              ><i
                class="bx bx-power-off font-size-16 align-middle me-1 text-danger"
              ></i>
              <span key="t-logout">Logout</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- ========== Left Sidebar Start ========== -->
  <div class="vertical-menu">
    <div data-simplebar class="h-100">
      <!--- Sidemenu -->
      <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu list-unstyled" id="side-menu">
          <li class="menu-title" key="t-menu">Menu</li>
          <li>
            <a href="" class="has-arrow waves-effect">
              <i class="bx bx-home-circle"></i>
              <span key="t-dashboards">Transactional Data</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
              <li>
                <a href="protocol_registration.html" key="t-default"
                  >Protocol Registration</a
                >
              </li>
              <li>
                <a href="lab_kit_preparation.html" key="t-default"
                  >Lab Kit Preparation</a
                >
              </li>
              <li>
                <a href="lab_kit_verification.html" key="t-default"
                  >Lab Kit Verification</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Sidebar -->
    </div>
  </div>
  <!-- Left Sidebar End -->

  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div
              class="page-title-box d-sm-flex align-items-center justify-content-between"
            >
              <h4 class="mb-sm-0 font-size-18">
                <i class="bx bxs-dashboard"></i> Protocol Registration
              </h4>

              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">
                    <a href="">Transactonal Data</a>
                  </li>
                  <li class="breadcrumb-item active">Protocol Registration</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="formrow-firstname-input" class="form-label"
                    >Protocol ID</label
                  >
                  <input
                    type="text"
                    [(ngModel)]="selected_protocol_id"
                    class="form-control"
                    id=""
                    placeholder="Enter Protocol ID"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="formrow-firstname-input" class="form-label"
                    >Sponsor ID / Name</label
                  >
                  <select [(ngModel)]="selected_sponsor_id" class="form-select form-control">
                    <option
                      *ngFor="let sponser of sponsers"
                      [value]="sponser.sponsor_id"
                    >
                      {{ sponser.sponsor_name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="formrow-firstname-input" class="form-label"
                    >CRO ID / Name</label
                  >
                  <select [(ngModel)]="selected_cro_id" class="form-select form-control">
                    <option *ngFor="let cro of crosList" [value]="cro.cro_id">
                      {{ cro.cro_name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="formrow-firstname-input" class="form-label"
                    >No.of Sites</label
                  >
                  <input
                    type="text"
                    [(ngModel)]="selected_sites_num"
                    class="form-control"
                    id=""
                    placeholder=" "
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="formrow-firstname-input" class="form-label"
                    >Total No.of Patients</label
                  >
                  <input
                    type="text"
                    [(ngModel)]="selected_patients_num"
                    class="form-control"
                    id=""
                    placeholder=" "
                  />
                </div>
              </div>
            </div>

            <hr class="mt-4 mb-4" />

            <div class="row">
              <div class="col-md-10 mb-3">
                <h4 class="r-blue-text">Site Details</h4>
              </div>
              <div class="col-md-2 mb-3" align="right">
                <div class="mb-2 text-right" width="100%">
                  <button
                    type="button"
                    class="btn btn-warning waves-effect btn-label waves-light r-darkblue pull-Right"
                    (click)="addSite()"
                  >
                    <i class="bx bx-plus label-icon"></i> Add Row
                  </button>
                </div>
              </div>

              <div class="table-responsive" [formGroup]="sitesForm">
                <table class="table table-striped mb-0" formArrayName="sites">
                  <thead Style="background:#EEE">
                    <tr>
                      <th>Site ID / Name</th>
                      <th>Patient Count</th>
                      <th>No. of Visits</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>                    

                        <tr
                          [formGroupName]="i"
                          *ngFor="
                            let item of sitesForm.get('sites').controls;
                            let i = index
                          "
                        >
                          <th scope="row">
                            <select
                              formControlName="site_id"
                              class="form-select form-control"
                            >
                              <option
                                *ngFor="let site of sites"
                                [value]="site.site_id"
                              >
                                {{ site.site_data_name }}
                              </option>
                            </select>
                          </th>
                          <td>
                            <input
                              formControlName="patient_count"
                              type="text"
                              class="form-control"
                              value=""
                            />
                          </td>
                          <td>
                            <input
                              formControlName="no_of_visits"
                              type="text"
                              class="form-control"
                              value=""
                            />
                          </td>
                          <td>
                            <button
                              type="button"
                              class="btn btn-danger waves-effect delete-btn waves-light"
                            >
                              <img src="../../assets/images/delete-button-svgrepo-com.svg"  width="20" height="20"/>
                            </button>
                          </td>
                        </tr>                      

                  </tbody>
                </table>
              </div>
            </div>

            <hr class="mt-4 mb-4" />

            <div class="row">
              <div class="col-md-12 mb-3">
                <h4 class="r-blue-text">Kit Details</h4>
              </div>
              <div class="col-md-12 mb-3">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      data-bs-toggle="tab"
                      href="#screening"
                      role="tab"
                    >
                      <span class="d-block d-sm-none"
                        ><i class="fas fa-home"></i
                      ></span>
                      <span class="d-none d-sm-block">Screening</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      data-bs-toggle="tab"
                      href="#visit"
                      role="tab"
                    >
                      <span class="d-block d-sm-none"
                        ><i class="far fa-user"></i
                      ></span>
                      <span class="d-none d-sm-block">Visit</span>
                    </a>
                  </li>
                </ul>

                <div class="tab-content pt-3 text-muted">
                  <div class="tab-pane active" id="screening" role="tabpanel">
                    <div class="row">
                      <div class="col-md-12 mt-2 mb-3">
                        <h5>Screening Kit Details</h5>
                      </div>
                      <div class="col-md-3 mb-3">
                        <input
                          type="text"
                          [(ngModel)]="selected_skit_count"
                          class="form-control"
                          placeholder="Enter Kit Count"
                        />
                      </div>
                      <div class="col-md-9 mb-3" align="right">
                        <div class="mb-2 text-right" width="100%">
                          <button
                            type="button"
                            class="btn btn-warning waves-effect btn-label waves-light r-darkblue pull-Right"
                            (click)="onScreenKitAdd()"
                          >
                            <i class="bx bx-plus label-icon"></i> Add Row
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive" [formGroup]="ScreenKitForm">
                      <table class="table table-striped mb-0" formArrayName="labTestsList">
                        <thead Style="background:#EEE">
                          <tr>
                            <th>Lab Test</th>
                            <th>material</th>
                            <th>Size</th>
                            <th>Frozen at Site</th>
                            <th>Image</th>
                            <th>Action</th>
                          </tr>
                        </thead>

                        <tbody>

                              <tr
                                [formGroupName]="i"
                                *ngFor="
                                  let item of ScreenKitForm.get('labTestsList')
                                    .controls;
                                  let i = index
                                "
                              >
                                <th scope="row">
                                  <select (change)="onScreenKitChange($event,i)"
                                    formControlName="lab_test_id"
                                    class="form-select form-control" 
                                  >
                                    <option
                                      *ngFor="let lab of labTestsList"
                                      [value]="lab.lab_id"
                                    >
                                      {{ lab.lab_test }}
                                    </option>
                                  </select>
                                </th>
                                <td>
                                  <input
                                    type="text"
                                    formControlName="Material"
                                    class="form-control"
                                    value="" 
                                  />
                                </td>
                                <td>
                                  <input
                                    type="text"
                                    formControlName="Size"
                                    class="form-control"
                                    value=""
                                    
                                  />
                                </td>
                                <td>
                                  <input
                                    class="form-check-input"
                                    formControlName="frozen_status"
                                    type="checkbox"
                                    value="checked"
                                    id="debugInfo"
                                  />
                                </td>
                                <td>
                                  <img formControlName="Image" ngDefaultControl class="bx bx-image-alt font-size-24" [src]="ScreenKitForm.controls.labTestsList?.controls[i].controls['Image'].value" width="30" height="30">
                                  <!-- <img [src]="imageURL" [alt]="Image"> -->
                                  <!-- <i
                                  formControlName="Image"
                                  class="bx bx-image-alt font-size-24"
                                ></i> -->
                                </td>
                                <td>
                                  <button
                                    type="button"
                                    class="btn btn-danger waves-effect delete-btn waves-light"
                                  >
                                  <img src="../../assets/images/delete-button-svgrepo-com.svg"  width="20" height="20"/>
                                  </button>
                                </td>
                              </tr>
                            

                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="tab-pane" id="visit" role="tabpanel">
                    <div class="row">
                      <div class="col-md-12 mt-2 mb-3">
                        <h5>Visit Kit Details</h5>
                      </div>

                      <div class="col-md-3 mb-3">
                        <input
                          type="text"
                          [(ngModel)]="selected_vkit_count"
                          class="form-control"
                          placeholder="Enter Kit Count"
                        />
                      </div>
                      <div class="col-md-3 mb-3">
                        <input
                          type="text"
                          [(ngModel)]="selected_vkit_variant"
                          class="form-control"
                          placeholder="Enter Kit Type / Varients"
                        />
                      </div>
                      <div class="col-md-6 mb-3" align="right">
                        <div class="mb-2 text-right" width="100%">
                          <button
                            type="button"
                            class="btn btn-warning waves-effect btn-label waves-light r-darkblue pull-Right"
                            (click)="addVisitKit()"
                          >
                            <i class="bx bx-plus label-icon"></i> Add Row
                          </button>
                        </div>
                      </div>

                      <div class="table-responsive" [formGroup]="VisitKitForm">
                        <table class="table table-striped mb-0" formArrayName="labTestsList">
                          <thead Style="background:#EEE">
                            <tr>
                              <th>No of Visit</th>
                              <th>Kit Type</th>
                              <th>Lab Test</th>
                              <th>Material</th>
                              <th>Size</th>
                              <th>Frozen at Site</th>
                              <th>Image</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                                <tr
                                  [formGroupName]="i"
                                  *ngFor="
                                    let item of VisitKitForm.get('labTestsList')
                                      .controls;
                                    let i = index
                                  "
                                >
                                  <td>
                                    <input
                                      type="text"
                                      formControlName="no_of_visits"
                                      class="form-control"
                                      value="1"
                                    />
                                  </td>
                                  <td>
                                    <input
                                      type="text"
                                      formControlName="kit_type"
                                      class="form-control"
                                      value="2"
                                    />
                                  </td>

                                  <th scope="row">
                                    <select
                                      formControlName="lab_id" (change)="onVisitKitChange($event,i)"
                                      class="form-select form-control" aria-placeholder="Select Test"
                                    >
                                    
                                      <option
                                        *ngFor="let lab of labTestsList"
                                        [value]="lab.lab_id"
                                      >
                                        {{ lab.lab_test }}
                                      </option>
                                    </select>
                                  </th>
                                  <td>
                                    <input
                                      formControlName="Material"
                                      type="text"
                                      class="form-control"
                                      value="" 
                                    />
                                  </td>
                                  <td>
                                    <input
                                      formControlName="Size"
                                      type="text"
                                      class="form-control"
                                      value="" 
                                    />
                                  </td>
                                  <td>
                                    <input
                                      formControlName="frozen_status"
                                      class="form-check-input"
                                      type="checkbox"
                                      value="checked"
                                      id="debugInfo"
                                    />
                                  </td>
                                  <td><img formControlName="Image" ngDefaultControl class="bx bx-image-alt font-size-24" [src]="VisitKitForm.controls.labTestsList?.controls[i].controls['Image'].value" width="30" height="30">
                                    <!-- <i
                                      formControlName="Image"
                                      class="bx bx-image-alt font-size-24"
                                    ></i> -->
                                  </td>
                                  <td>
                                    <button
                                      type="button"
                                      class="btn btn-danger waves-effect delete-btn waves-light"
                                    >
                                    <img src="../../assets/images/delete-button-svgrepo-com.svg"  width="20" height="20"/>
                                    </button>
                                  </td>
                                </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 mb-3" align="right">
              <div class="mb-2 text-right" width="100%">
                <button
                  type="button"
                  class="btn btn-warning waves-effect btn-label waves-light r-blue pull-Right"
                  style="width: 150px; height: 40px"
                  (click)="SubmitData()"
                >
                  <i class="bx bx-hdd label-icon"></i> Submit
                </button>
              </div>
            </div>
          </div>

          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">© Roboxa</div>
        </div>
      </div>
    </footer>
  </div>
  <!-- end main content-->
</div>
<!-- END layout-wrapper -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>
