<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <p-toast></p-toast>
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 *ngIf="!isEdit" class="mb-sm-0 font-size-18"><i class="bx bxs-user-check"></i>Add Material
                        </h4>
                        <h4 *ngIf="isEdit" class="mb-sm-0 font-size-18"><i class="bx bxs-user-check"></i>Edit Material
                        </h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"> <a routerLink="'/home/cro/dashboards'" class="waves-effect">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item"><a routerLink="/home/cro/labTestGrid"
                                        class="waves-effect">Material</a></li>
                                <li *ngIf="!isEdit" class="breadcrumb-item active">Add Material</li>
                                <li *ngIf="isEdit" class="breadcrumb-item active">Edit Material</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- <h4><i class="fab fa-codiepie cro-icon mr-sm-2"></i>CRO Data</h4>/ -->
            <br>

            <div class="card ml-2 mr-2 bg-white">
                <div class="container">

                    <div class="card-body">
                        <h6 style="color: rgb(250, 39, 39);">Material Form</h6>
                        <hr>
                        <form [formGroup]="labForm">
                            <div class="row">


                                <div class="col-md-3">
                                    <div class="form-group">

                                        <label>Material</label>
                                        <input type="text" class="form-control" id="material" formControlName="material"
                                            placeholder=" Enter Material"
                                            [class.is-invalid]="shouldShowRequired('material') && labForm.get('material')?.touched">
                                        <div *ngIf="shouldShowRequired('material')" class="invalid-feedback">
                                            Material is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Size</label><br>
                                        <p-chips formControlName="size" placeholder="size"
                                            [class.is-invalid]="shouldShowRequired('size') && labForm.get('size')?.touched"></p-chips>
                                        <div *ngIf="shouldShowRequired('size')" class="invalid-feedback">
                                            Size is required.
                                        </div>

                                    </div>
                                </div>
                                <div *ngIf="fieldDisplay" class="col-md-2">
                                    <div class="form-group">
                                        <label>Upload Image</label><br>
                                        <button type="submit" class="btn btn-primary  r-darkblue pull-Right"
                                            (click)="fileInput.click()">Upload Image</button>
                                        <div class="avatar-upload">
                                            <div class="avatar-edit">
                                                <input type="file" accept=".jpg,.png" class="form-control"
                                                    formControlName="image" #fileInput
                                                    (change)="uploadFile($event, false)" id="image"
                                                    placeholder="Select Image">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span (click)="enable()" *ngIf="editImage"><img style="width:100px"
                                                src="{{'data:image/jpg;base64,' + labData.image}}" />
                                            &nbsp;&nbsp;&nbsp;<a style="color:blue">Click here To Upload New
                                                image</a></span>
                                        <span *ngIf="imgDisplay"><img style="width:100px"
                                                src="{{'data:image/jpg;base64,' + bas2}}" /></span>
                                    </div>

                                </div>




                            </div>
                        </form>
                    </div>
                    <div class="col-12 mt-auto mb-2 d-flex justify-content-end">
                        <button (click)="submit()" class="btn btn-primary">Submit</button>

                    </div>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>