<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content" style="margin-top: -4%;">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">
                                <i class="bx bxs-dashboard"></i> Sample Collection
                            </h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"> <a routerLink="/home/cro/dashboards"
                                            class="waves-effect">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item"><a routerLink="/home/site/viewCRA"
                                            class="waves-effect">Study</a></li>

                                    <li class="breadcrumb-item active">Site : {{this.ID}}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <p-toast></p-toast>

                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="preparationForm">
                            <!-- <div class="row">
                                <div id="printSection">
                                
                                </div>
                                <div class="col-md-4 mb-3">


                                    <label for="formrow-firstname-input" class="form-label">Study ID</label>
                                    <select formControlName="protocolId" (change)="getprotocolDetails($event)"
                                        class="form-select form-control">
                                        <option  selected value="">Select Study ID</option>
                                        <option *ngFor="let data of protocols" [value]="data.protocol_id">
                                            {{ data.user_protocol_id }}
                                        </option>
                                    </select>
                                </div>

                                <div *ngIf="displayValues" class="col-md-4 mb-3">

                                    <label for="formrow-firstname-input" class="form-label">Study Name</label>
                                    <input type="text" 


placeholder="Study Name" formControlName="protocol_name"
                                        class="form-control" value="" />
                                </div>

                            </div> -->
                        </form>


                        <hr class="mt-4 mb-4" />

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <h4 class="r-blue-text">Kit Details</h4>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div *ngIf="displayValues" class="tab-content pt-3 text-muted">
                                    <div class="tab-pane active" role="tabpanel">

                                        <br>

                                        <p-tabView>
                                            <p-tabPanel header="Screening">
                                                <h3> {{screeningVariant}}</h3>
                                                <h5 class="mb-sm-0 font-size-18">
                                                    Screen Kit Count : {{scount}}
                                                </h5>
                                                <br>




                                                <br>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">

                                                            <div class="table-responsive">
                                                                <table class="table table-striped mb-0">
                                                                    <thead Style="background:#EEE">
                                                                        <tr>
                                                                            <th>KitId</th>
                                                                            <th>Central Lab KitId</th>
                                                                            <th>Expiration Date</th>



                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>


                                                                        <tr *ngFor="let item of skDetails">
                                                                            <td width="25%">
                                                                                <input type="text" placeholder="kitId"
                                                                                    class="form-control"
                                                                                    [disabled]="true"
                                                                                    value="{{item.kitId}}" />
                                                                            </td>
                                                                            <td width="25%">
                                                                                <input type="text"
                                                                                    placeholder="LabKitId"
                                                                                    [disabled]="true"
                                                                                    value={{item.ckitId}}
                                                                                    class="form-control" />
                                                                            </td>
                                                                            <td width="40%">
                                                                                <input type="text"
                                                                                    placeholder="Expiration Date"
                                                                                    value={{item.expiryDate}}
                                                                                    class="form-control"
                                                                                    [disabled]="true" />
                                                                            </td>





                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="table-responsive" [formGroup]="ScreenKitForm">
                                                                <table class="table table-striped mb-0"
                                                                    formArrayName="screenKitList">
                                                                    <thead Style="background:#EEE">
                                                                        <tr>


                                                                            <th>Patient Id</th>
                                                                            <th>Sample Collection</th>
                                                                            <th>Collection Date</th>


                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>

                                                                        <tr [formGroupName]="i" *ngFor="
                                                            let item of ScreenKitForm.get('screenKitList')
                                                              .controls;
                                                            let i = index
                                                          ">
                                                                            <td width="25%">
                                                                                <input type="text"
                                                                                    placeholder="Patient Id"
                                                                                    formControlName="patientId"
                                                                                    class="form-control" value="" />
                                                                            </td>

                                                                            <td>
                                                                                <select class="form-select form-control"
                                                                                    formControlName="collection">
                                                                                    <option
                                                                                        *ngFor="let data of statusData">
                                                                                        {{ data }}
                                                                                    </option>
                                                                                </select>

                                                                            </td>
                                                                            <td width="25%">
                                                                                <input type="text" placeholder="Date"
                                                                                    class="form-control"
                                                                                    value={{date}} />
                                                                            </td>

                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>





                                            </p-tabPanel>

                                            <p-tabPanel header="Visits" *ngFor="let item of vMatDetails  let i = index"
                                                header="Visit {{i+1}}">


                                                <h3> {{item.kit_variant}}</h3>



                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">



                                                            <div class="table-responsive">
                                                                <table class="table table-striped mb-0">
                                                                    <thead Style="background:#EEE">
                                                                        <tr>
                                                                            <th>KitId</th>
                                                                            <th>Central Lab KitId</th>
                                                                            <th>Expiration Date</th>


                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>


                                                                        <tr *ngFor="let item of vkDetails[i]">
                                                                            <td width="25%">
                                                                                <input type="text" placeholder="kitId"
                                                                                    class="form-control"
                                                                                    [disabled]="true"
                                                                                    value="{{item.kitId}}" />
                                                                            </td>
                                                                            <td width="25%">
                                                                                <input type="text"
                                                                                    placeholder="LabKitId"
                                                                                    [disabled]="true"
                                                                                    value={{item.ckitId}}
                                                                                    class="form-control" />
                                                                            </td>
                                                                            <td width="40%">
                                                                                <input type="text"
                                                                                    placeholder="Expiration Date"
                                                                                    value={{item.expiryDate}}
                                                                                    class="form-control"
                                                                                    [disabled]="true" />
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="table-responsive"
                                                                [formGroup]="item.visitKitFormGroup">
                                                                <table class="table table-striped mb-0"
                                                                    formArrayName="visitKitList">
                                                                    <thead Style="background:#EEE">
                                                                        <tr>

                                                                            <th>Patient Id</th>
                                                                            <th>Sample Collection</th>
                                                                            <th>Collection Date</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody *ngIf="item.visitsList">


                                                                        <tr *ngFor="let control of item.visitsList.controls; let j = index"
                                                                            [formGroupName]="j">
                                                                            <td width="25%">
                                                                                <input type="text"
                                                                                    placeholder="Patient Id"
                                                                                    formControlName="patientId"
                                                                                    class="form-control" value="" />
                                                                            </td>

                                                                            <td width="25%">
                                                                                <select formControlName="collection"
                                                                                    class="form-select form-control">
                                                                                    <option
                                                                                        *ngFor="let data of statusData">
                                                                                        {{ data }}
                                                                                    </option>
                                                                                </select>
                                                                            </td>

                                                                            <td width="25%">
                                                                                <input type="text" placeholder="Date"
                                                                                    class="form-control"
                                                                                    value={{date}} />
                                                                            </td>

                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </p-tabPanel>
                                            <br>

                                            <div class="col-md-12 mb-3" align="right">
                                                <div class="mb-2 text-right" width="100%">
                                                    <button type="button"
                                                        class="btn btn-warning waves-effect btn-label waves-light r-blue pull-Right"
                                                        style="width: 150px; height: 40px" (click)="SubmitData()">
                                                        <i class="bx bx-hdd label-icon"></i> Submit
                                                    </button>
                                                </div>
                                            </div>


                                        </p-tabView>





                                        <br>
                                        <br>
                                        <div class="row">



                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- HTML template -->



            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer" style="position: fixed;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">© Roboxa</div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
</div>

<!-- END layout-wrapper -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>