<!-- Begin page -->
<div id="layout-wrapper">

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">
                                <i class="bx bxs-dashboard"></i> Sample Acknowledgement
                            </h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a href="">Central Lab</a>
                                    </li>
                                    <li class="breadcrumb-item active"> Sample Acknowledgement</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">

                                    <label for="formrow-firstname-input" class="form-label">Protocol ID</label>
                                    <select class="form-select form-control">
                                        <option *ngFor="let data of protocols">
                                            {{ data.protocol_id }}
                                        </option>
                                    </select>
                                </div>
                            </div>


                        </div>


                        <hr class="mt-4 mb-4" />

                        <div class="row">
                            <!-- <div class="col-md-12 mb-3">
                                <h4 class="r-blue-text">Kit Details</h4>
                            </div> -->
                            <div class="col-md-12 mb-3">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" (click)="showsc()" data-bs-toggle="tab"
                                            href="#screening" role="tab">
                                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                            <span class="d-none d-sm-block">Screening</span>
                                        </a>
                                    </li>
                                    <li *ngFor="let item of listItems let j = index" class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" (click)="showv()" href="#visit"
                                            role="tab">
                                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                            <span class="d-none d-sm-block">Visit {{j+1}}</span>
                                        </a>

                                    </li>
                                </ul>

                                <div class="tab-content pt-3 text-muted">
                                    <div class="tab-pane active" *ngIf="screening" id="screening" role="tabpanel">
                                        <div class="table-responsive" [formGroup]="ScreenKitForm">
                                            <table class="table table-striped mb-0" formArrayName="screenKitList">
                                                <thead Style="background:#EEE">
                                                    <tr>

                                                        <th>KitId</th>
                                                        <th>Site ID</th>
                                                        <th>CKit Id</th>
                                                        <th>Patient Id</th>
                                                        <th>Sample Collection</th>
                                                        <th>Sample Acknowledgement</th>
                                                        <th width="20%">Remarks</th>
                                                        <th width="15%">upload</th>

                                                    </tr>
                                                </thead>

                                                <tbody>

                                                    <tr [formGroupName]="i" *ngFor="
                                                            let item of ScreenKitForm.get('screenKitList')
                                                            .controls;
                                                            let i = index
                                                        ">
                                                        <td>
                                                            <input type="text" placeholder="kitId"
                                                                formControlName="kitId" class="form-control" value="" />
                                                        </td>
                                                        <td>
                                                            <input type="text" placeholder="siteId"
                                                                formControlName="siteId" class="form-control"
                                                                value="" />
                                                        </td>
                                                        <td>
                                                            <input type="text" placeholder="ckitId"
                                                                formControlName="cKitId" class="form-control"
                                                                value="" />
                                                        </td>

                                                        <td>
                                                            <input type="text" placeholder="patientId"
                                                                formControlName="patientId" class="form-control"
                                                                value="" />

                                                        </td>
                                                        <td>
                                                            <input type="text" placeholder="Collected"
                                                                formControlName="collected" class="form-control"
                                                                value="" />
                                                        </td>
                                                        <td>
                                                            <select formControlName="acknowldgement"
                                                                class="form-select form-control">
                                                                <option *ngFor="let data of statusData">
                                                                    {{ data }}
                                                                </option>
                                                            </select>
                                                        </td>

                                                        <td>
                                                            <input type="text" placeholder="Remarks"
                                                                formControlName="remarks" class="form-control"
                                                                value="" />


                                                        </td>
                                                        <td>
                                                           

                                                            <button type="submit"
                                                            class="btn btn-primary  r-darkblue pull-Right"
                                                                (click)="fileInput.click()">Upload PDF</button>
                                                                <div class="avatar-upload">
                                                                    <div class="avatar-edit">
                                                                        <input type='file' id="imageUpload"
                                                                        accept="application/pdf" #fileInput
                                                                            (change)="uploadFile($event)" />
                                                                    </div>
                                                                </div>

                                                        </td>

                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" *ngIf="visit" id="visit" role="tabpanel">
                                    <div class="table-responsive" [formGroup]="VisitKitForm">
                                        <table class="table table-striped mb-0" formArrayName="visitKitList">
                                            <thead Style="background:#EEE">
                                                <tr>

                                                    <th>KitId</th>
                                                    <th>Site ID</th>
                                                    <th>CKit Id</th>
                                                    <th>Patient Id</th>
                                                    <th>Sample Collection</th>
                                                    <th>Sample Acknowledgement</th>
                                                    <th width="20%">Remarks</th>
                                                    <th>Upload</th>


                                                </tr>
                                            </thead>

                                            <tbody>

                                                <tr [formGroupName]="i" *ngFor="
                                let item of VisitKitForm.get('visitKitList')
                                  .controls;
                                let i = index
                              ">

                                                    <td>
                                                        <input type="text" placeholder="kitId" formControlName="kitId"
                                                            class="form-control" value="" />
                                                    </td>
                                                    <td>
                                                        <input type="text" placeholder="siteId" formControlName="siteId"
                                                            class="form-control" value="" />
                                                    </td>
                                                    <td>
                                                        <input type="text" placeholder="ckitId" formControlName="cKitId"
                                                            class="form-control" value="" />
                                                    </td>

                                                    <td>
                                                        <input type="text" placeholder="patientId"
                                                            formControlName="patientId" class="form-control" value="" />

                                                    </td>
                                                    <td>
                                                        <input type="text" placeholder="Collected"
                                                            formControlName="collected" class="form-control" value="" />

                                                    </td>
                                                    <td>
                                                        <select formControlName="acknowldgement"
                                                            class="form-select form-control">
                                                            <option *ngFor="let data of statusData">
                                                                {{ data }}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" placeholder="Remarks"
                                                            formControlName="remarks" class="form-control" value="" />


                                                    </td>
                                                    <td>
                                                           

                                                        <button type="submit"
                                                        class="btn btn-primary  r-darkblue pull-Right"
                                                            (click)="fileInput.click()">Upload Image</button>
                                                            <div class="avatar-upload">
                                                                <div class="avatar-edit">
                                                                    <input type='file' id="imageUpload"
                                                                    accept="application/pdf" #fileInput
                                                                        (change)="uploadFile($event)" />
                                                                </div>
                                                            </div>

                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mb-3" align="right">
                            <div class="mb-2 text-right" width="100%">
                                <button type="button"
                                    class="btn btn-warning waves-effect btn-label waves-light r-blue pull-Right"
                                    style="width: 150px; height: 40px" (click)="SubmitData()">
                                    <i class="bx bx-hdd label-icon"></i> Submit
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">© Roboxa</div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
</div>

<!-- END layout-wrapper -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>