<h4><i class="fas fa-file-signature mr-2"></i>protocol Registration</h4>
<br>
<div class="card ml-2 mr-2 bg-white">
    <div class="container">

        <div class="card-body">
            <form [formGroup]="protocolForm">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="protocol id" placeholder="Enter Protocol ID"
                                formControlName="protocol_id">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <!-- <label for="">Choose sponsor id / Name</label> -->

                            <select  class="form-control" placeholder="Select an option" formControlName="sponsor_id">
                                <option value="Select an option" *ngFor="let sponsor of sponsors" formControlName="sponsor_code">
                                    {{sponsor.sponsor_code}}<i class="fa fa-caret-down" aria-hidden="true"></i></option>
                                <option *ngFor="let sponsor of sponsors" formControlName="sponsor_name">{{sponsor.sponsor_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="dropdown">
                                <select class="form-control"
                                    placeholder="Select an option" formControlName="cro_id">
                                    <option value="Select an option" *ngFor="let cro of cros">{{cro.cro_code}}<i
                                            class="fa fa-caret-down" aria-hidden="true"></i></option>
                                    <option *ngFor="let cro of cros">{{cro.cro_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">

        <div class="card-body">

            <hr>
            <form [formGroup]="protocolForm">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="protocol id" placeholder="Enter No.of Sites"
                                formControlName="no_of_sites">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"> <input type="text" class="form-control" id="sponosor id/name"
                                placeholder="Total No.of Patients" formControlName="total_patients">
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="card-body">
            <h6 style="color: rgb(250, 49, 49); margin-left: 20px;">Site Details</h6>
            <hr>
            <div class="table-responsive" id="myTable">
                <button class="btn btn-primary d-flex-end mr-end ml-2 mt-2"><i class="fa fa-plus"
                        aria-hidden="true"></i> Add Row</button>
                <button type="button" class="btn btn-danger ml-3 mt-2">Delete</button>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>SiteId/Name</th>
                            <th>Patient Count</th>
                            <th>No.of Visits</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let site of sites">
                            <td>
                                <select [(ngModel)]="selectedOption" class="form-control" placeholder="Select an option">
                                    <option value="Select an option" *ngFor="let site of sites">{{site.site_data_code}}<i class="fa fa-caret-down" aria-hidden="true"></i></option>
                                    <option *ngFor="let site of sites">{{site.site_data_name}}</option>
                                  </select>
                            </td>
                            <td><input type="number" class="form-control" id="protocol id" placeholder="Enter No.of Patients"
                                formControlName="no_of_sites"></td>
                            <td><input type="number" class="form-control" id="protocol id" placeholder="Enter No.of visits"></td>
                        
            
                            
                        </tr>
                        <!-- <tr *ngFor="let row of existingRows; let rowIndex = index">
                            <td>
                                <select [(ngModel)]="row.siteId" class="form-control" placeholder="Select an option" formControlName="site_ids">
                                     Options for siteId -->
                                    <!-- <option value="Select an option" *ngFor="let site of sites" formControlName="site_data_code">
                                        {{site.site_data_code}}<i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </option>
                                    <option *ngFor="let site of sites" formControlName="site_data_name">{{site.site_data_name}}</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" class="form-control" [(ngModel)]="row.patientCount"
                                    placeholder="Enter No.of Patients" formControlName="total_patients">
                            </td>
                            <td>
                                <input type="number" class="form-control" [(ngModel)]="row.numberOfVisits"
                                    placeholder="Enter No.of visits">
                            </td>
                        </tr>  -->

                        <!-- Render added rows -->
                        <tr *ngFor="let row of existingRows;">
                            <td>
                                <select [(ngModel)]="row.siteId" class="form-control" placeholder="Select an option" formControlName="site_ids">
                                    Options for siteId 
                                    <option value="Select an option" *ngFor="let site of sites" formControlName="site_data_code">
                                       {{site.site_data_code}}<i class="fa fa-caret-down" aria-hidden="true"></i>
                                   </option>
                                   <option *ngFor="let site of sites" formControlName="site_data_name" formControlName="site_data_name">{{site.site_data_name}}</option>
                               </select>
                            </td>
                            <td>
                                <input type="number" class="form-control" [(ngModel)]="row.patientCount"
                                    placeholder="Enter No.of Patients">
                            </td>
                            <td>
                                <input type="number" class="form-control" [(ngModel)]="row.numberOfVisits"
                                    placeholder="Enter No.of visits">
                            </td>
                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h6 style="color: rgb(250, 49, 49); margin-left: 20px;">Kit Details</h6>
            <div class="col">

                <div class="form-check">
                    <label class="form-check-label" style="margin-left: 30px;" for="radio2">Kit Type:</label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioGroup" id="radio3" [(ngModel)]="KitType"
                        value="screening">
                    <label style="color: blue;" class="form-check-label" for="radio3">Screening</label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioGroup" id="radio3" [(ngModel)]="KitType"
                        value="visit">
                    <label style="color: blue;" class="form-check-label" for="radio3">Visit</label>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body" *ngIf="KitType=='screening'">
        <h6 style="color: rgb(250, 49, 49); margin-left: 10px;">Screening Kit Details</h6>
        <div class="row">
            <form action="" [formGroup]="protocolForm">
                <div class="col">
                    <div class="form-group">
                        <div>
                            <input style="width:180px;margin-left:10px" type="number" class="form-control flex-grow-1"
                                id="inputField" placeholder="Enter Kit Count" formControlName="screening_kit_count">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <button class="btn btn-primary d-flex-end mr-end"><i class="fa fa-plus"
                    aria-hidden="true"></i> ADD</button>
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>Lab Test</th>
                        <th>Material</th>
                        <th>labtest.Size</th>
                        <th>Frozen at Site</th>
                        <th>Image</th>

                    </tr>
                </thead>
                <tbody>
                    <!-- <tr  *ngFor="let row of existingRows; let rowIndex = index;let labtest of labtests;">
                        <td>
                            <select  class="form-control" placeholder="Select an option">
                                
                                <option value="Select an option" *ngFor="let labtest of labtests">{{labtest.lab_test}}<i class="fa fa-caret-down" aria-hidden="true"></i></option>
                               
                              </select>
                        </td>
                        <td>{{labtest.material}}</td>
                        <td>{{labtest.size}}</td>
                        <td>
                            <input type="radio" name="ok" id="" value="IN Site audit">
                            <label style="margin-right: 20px;">Yes</label>
                            <input type="radio" name="ok" id="" value="Evaluation by Documentation">
                            <label style="margin-right: 30px;">No</label>
                        </td>
                        <td>{{labtest.image}}</td>
                        
                    </tr> -->
                    <tr *ngFor="let row of existingRows; let rowIndex = index;">
                        <td>
                            <select [(ngModel)]="row.siteId" class="form-control" placeholder="Select an option"
                                (change)="updateDetails(row)">
                                <!-- Options for siteId -->
                                <option value="Select an option" *ngFor="let labtest of labtests">{{labtest.lab_test}}<i
                                        class="fa fa-caret-down" aria-hidden="true"></i></option>
                            </select>
                        </td>
                        <td>{{row.details?.material}}</td>
                        <td>{{row.details?.size}}</td>
                        <td>
                            <input type="radio" name="ok" id="" value="IN Site audit">
                            <label style="margin-right: 20px;">Yes</label>
                            <input type="radio" name="ok" id="" value="Evaluation by Documentation">
                            <label style="margin-right: 30px;">No</label>
                        </td>
                        <td>{{row.details?.image}}</td>
                    </tr>




                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="card-body" *ngIf="KitType=='visit'">
        <h6 style="color: rgb(250, 49, 49); margin-left: 10px;">Visit Kit Details</h6>
        <div class="row">
            <form action="" [formGroup]="protocolForm">
                <div class="col-md-3">
                    <div class="form-group">

                        <input type="text" class="form-control" id="Sponsor Code" placeholder="Enter Kit Count"
                            formControlName="visit_kit_count">

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group"> <input type="text" class="form-control" id="Site Name"
                            placeholder="Enter Kit Type / Varients" formControlName="visit_kit_details">
                    </div>
                </div>
            </form>
        </div>

        <div class="table-responsive">
            <br>
            <button class="btn btn-primary d-flex-end mr-end"><i class="fa fa-plus"
                    aria-hidden="true"></i> Add Row</button>
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>No.of Visit</th>
                        <th>Kit Type</th>
                        <th>Lab Test</th>
                        <th>Material</th>
                        <th>Size</th>
                        <th>Frozen at Site</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let labtest of labtests">
                        <td><input type="number"></td>
                        <td><input type="number"></td>
                        <td>{{labtest.lab_test}}</td>
                        <td>{{labtest.material}}</td>
                        <td>{{labtest.size}}</td>
                        <td>
                            <input type="radio" name="ok" id="" value="IN Site audit">
                            <label style="margin-right: 20px;">Yes</label>
                            <input type="radio" name="ok" id="" value="Evaluation by Documentation">
                            <label style="margin-right: 30px;">No</label>
                        </td>
                        <td>{{labtest.image}}</td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="container">

        <div class="card-body">
            <h6 style="color: rgb(250, 49, 49);"></h6>

            <form>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Sponsor Code" placeholder="Created By">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"> <input type="text" class="form-control" id="Site Name"
                                placeholder="Created On">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="field3" placeholder="Changed By">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="field3" placeholder="Changed On">
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-12 mt-auto mb-2 d-flex justify-content-end">
                <button (click)="submit()" class="btn btn-primary">Submit</button>

            </div>
        </div>

    </div>