

<div class=" ml-2 mr-2 bg-white">
    <div class="container">

        <div class="card-body">
            <h3 style="color: rgb(250, 49, 49);">Lab Tests Form</h3>
            <hr>
            <form [formGroup]="labForm">
                
                    <div class="col-md-10">
                        <div class="form-group">
                            
                            <input type="text" class="form-control" formControlName="lab_test"  id="lab test"placeholder="Enter Lab Test">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group"> <input type="text" formControlName="material"  class="form-control" id="material" placeholder="Enter Material Name">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Size" formControlName="size"  placeholder=" Enter Size">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <input type="file" accept=".jpg,.png" class="form-control" formControlName="image" (change)="uploadFile($event)" id="Size" placeholder=" Enter Size">
                        </div>
                    </div>
                  
                
            </form>
        </div>

    </div>
</div>

<hr>
<div class="col-12 mt-auto d-flex justify-content-end">
    <button class="btn btn-primary" (click)="submit()">Submit</button>
</div>